<div class="container equip-background">
  <div class="left-side">

  <%= image_tag @equipment.avatar.url(:medium), :class => "equip-image" %>

  </div>
  <div class="right-side">
    <h1>Edit Equipment</h1>

    <%= form_for @equipment, :html => { :multipart => true } do |f| %>

      <%= f.label :name %><br>
      <%= f.text_field :name %><br>

      <%= f.label :current_daily_cost %><br>
      <%= f.number_field :current_daily_cost %><br>

      <%= f.label :description %><br>
      <%= f.text_area :description %><br>

      <%= f.label :availability %><br>
      <%= f.text_field :availability %><br>

      <%= f.file_field :avatar %>

      <%= f.submit "Save", class: "btn btn-success btn-lg" %>
      <%= link_to "Back to Inventory", equipment_index_path %>

    <% end %>
  </div>
</div>