<div class="container">

  <h1>Inventory</h1>

  <% @equipment.each do |e| %>
    <p><%= e.name %>,<%= e.description %>,<%= e.availability %>,<%= number_to_currency(e.current_daily_cost) %></p>
    <%= button_to "Edit", edit_equipment_path(e.id), :method => :get, class: "btn btn-primary" %>
    <%= button_to "Remove", equipment_path(e.id), :method => :delete, class: "btn btn-danger"  %>
  <% end %>

</div>