  

<div class="container-inventory">
	<div class="equip-inventory">
		<h3>Inventory</h3>
		<div class="item-inventory">
			<% @equipment.each do |e| %>
			<h2><%= e.name %></h2>
				<p><strong>Description: </strong><%= e.description %> 
				<%= e.availability %>,<strong><%= number_to_currency(e.current_daily_cost) %></strong></p>
				<%= button_to "Edit", edit_equipment_path(e.id), :method => :get  %>
				<%= button_to "Remove", equipment_path(e.id), :method => :delete  %>
			<% end %>
		</div>
	</div>
</div>








