<h1>Enter Equipment Info</h1>

<%= form_for @equipment do |f| %>
  

  <%= f.text_field :name, placeholder: "Name" %><br>
  <%= f.text_field :current_daily_cost, placeholder: "Daily Cost" %><br>
  <%= f.text_area :description, placeholder: "Description" %><br>
  <%= f.text_field :availability, placeholder: "Availability" %><br>
  
  <%= f.submit "Submit Equipment" %>

<%end%>

