<div class="container equip-background">
	<div class="left-side">
        <%= image_tag @equipment.avatar.url(:medium) %>
	</div>
  <div class="right-side">
		<h1>Add equipment</h1>

		<%= form_for @equipment, :html => { :multipart => true } do |f| %>
		  
		  <%= f.text_field :name, placeholder: "Name" %><br>
		  <%= f.text_area :description, placeholder: "Description" %><br>
		  <%= f.number_field :current_daily_cost, value: 5.00, min: 5.00, step: 0.25 %><br>
		  <%= f.text_field :availability, placeholder: "Availability" %><br>
      <%= f.file_field :avatar %>
		  <%= f.submit "Add Equipment", class: "btn btn-success btn-lg" %>
		  <%= link_to "Cancel", equipment_index_path %>

		<%end%>
	</div>
</div>