<div class="container">

<!-- Equipment Specs Row -->

	<div class="row">
		<div class="col-md-4">
			<%= image_tag @equipment.avatar.url(:medium) %>
		</div>

		<div class="col-md-8">
			<div class="equip-specs">
				<h2><%= @equipment.name %></h2>
				<h1><%= number_to_currency(@equipment.current_daily_cost) %></h1>
				<p><strong>Description</strong>: <%= @equipment.description %></p><br>
				<p><strong>Availability:</strong> <%= @equipment.availability %></p>

				<h1>Reserve this item.</h1>
				<%= form_tag orders_path do %>

          <%= date_field_tag :start_date, Date.today  %>
          <%= date_field_tag :end_date, Date.today+7  %>

				  <%= hidden_field_tag :equipment_id, @equipment.id %>
				  <%= hidden_field_tag :daily_cost, @equipment.current_daily_cost %>

				  <%= submit_tag "Place order", class: "btn btn-success btn-lg"%>
				  <% end %>
		 	</div>	
		</div>
	</div> <!-- End Equipment Specs Row -->

	<!-- Reviews Row -->

	<div class="row"> 
		<div class="col-md-6">
			<h1>Reviews</h1>
			<% @reviews.each do |r| %>
				<p><%= r.title %></p>
				<p><%= r.comment %></p>
			<% end %>
		</div>
	</div>

<div class="content-wrapper">

	<div id="map-canvas">
	</div>

<h2><%= @owner.first_name %></h2>
<p><%= @owner.last_name %></p>
<p><%= @owner.bio %></p>
<%= image_tag @owner.avatar.url(:medium) %>


</div> <!-- End Container -->




</div>

<script>

	var map;
	var myLat = <%= raw @myLat.to_json %>;
	var myLng = <%= raw @myLng.to_json %>;

	map = new google.maps.Map(document.getElementById('map-canvas'), {
	  zoom: 13,
	  center: new google.maps.LatLng(myLat, myLng)
	});

	var myLatlng = new google.maps.LatLng(myLat, myLng);
	var marker = new google.maps.Marker({
	  position: myLatlng,
	  map: map
	});

</script>