<div class="container">
	<div class="user-profile">
		<div class="user-info">
			<%= image_tag @user.avatar.url(:medium), class: "profile-picture" %>
			<h1><%= @user.first_name %>
			<%= @user.last_name %></h1><br>
			<h2>Background/Bio:</h2></br>
			<p><%= @user.bio %></p>
	  </div>

	  <div class="user-reviews">
	    <h1>Reviews</h1>
      <% @reviews.each do |r| %>
        <div class="review">
          <h2><%= r.title %></h2>
          <p><%= r.comment %></p>
          <p><%= r.name %></p>
        </div>
      <% end %>
	  </div>
  </div>
</div>