
<div class="jumbotron">
  <div class="container">
    <div class="homepage-header">
      <h1>Use Your Neighbors </h1>
    </div>
    <div class="mooch-header">
      <h3>What do you want to mooch today?</h3>
    </div>
      <%= form_tag results_path do %>
        <%= text_field_tag :name, nil, placeholder: "Enter equipment..." %>
        <%= text_field_tag :zip, nil, placeholder: "Zip" %>
        <%= date_field_tag :start_date, nil  %>
        <%= date_field_tag :end_date, nil  %>
        <%= submit_tag  "Search", class: "btn btn-success btn-lg" %>
      <% end %>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="thumbnail">
      <img data-src="work.jpg" alt="...">
      <div class="caption">
        <h3>Work</h3>
        <p>Rent tools from your neighbors so you can avoid that expensive trip to HomeDepot.</p>
      </div>
    </div>
  </div>

    <div class="col-sm-4">
    <div class="thumbnail">
      <img data-src="play.jpg" alt="...">
      <div class="caption">
        <h3>Play</h3>
        <p>Thinking about a new hobby? Rent gear from your neigbor to give it a try.</p>
      </div>
    </div>
  </div>

    <div class="col-sm-4">
    <div class="thumbnail">
      <img data-src="entertainment.jpg" alt="...">
      <div class="caption">
        <h3>Entertainment</h3>
        <p>Rent Tools</p>
      </div>
    </div>
  </div>
</div>


