
<div class="homepage-header">
  <h1>Use Your Neighbors </h1>
</div>


<div class="jumbotron">
  <div class="container">

    <div class="mooch-header">
      <h3>What do you want to mooch today?</h3>
    </div>


      <%= form_tag equipment_index_path do %>

      <%= text_field_tag :name, nil, placeholder: "Enter equipment..." %>
      <%= text_field_tag :zip, nil, placeholder: "Zip" %>

      <%= date_field_tag :start_date, nil  %>
      <%= date_field_tag :end_date, nil  %>

      <%= submit_tag "Search" %>

    <% end %>
  </div>
</div>

