
<div class="jumbotron">
  <div class="container main-content">
    <div class="homepage-header">
      <h1>Use Your Neighbors </h1>
    </div>
    <div class="mooch-header">
      <h3>What do you want to mooch today?</h3>
    </div>
      <%= form_tag results_path do %>
        <%= text_field_tag :name, nil, placeholder: "Enter equipment...", class: "entry-field" %>
        <%= text_field_tag :zip, nil, placeholder: "Zip", class: "entry-field" %>
        <%= date_field_tag :start_date, nil, class: "entry-field"  %>
        <%= date_field_tag :end_date, nil, class: "entry-field"  %>
        <%= submit_tag  "Search", class: "btn btn-success btn-lg home-submit" %>
      <% end %>
  </div>
</div>

<!-- Thumbnail Row -->

<div class="row">

  <div class="col-sm-4">
    <div class="thumbnail">
      <img class="thumb-icon" src="/assets/hank.jpg">
      <div class="caption">
        <h3>Work</h3>
          <p>Want to tackle that DIY project, but don't have the tools? Rent them from your neighbor and avoid that expensive trip to Home Depot.</p>
      </div>
    </div>
  </div>

   <div class="col-sm-4">
    <div class="thumbnail">
      <img class="thumb-icon" src="/assets/hank.jpg">
      <div class="caption">
        <h3>Play</h3>
        <p>Thinking about a new hobby? No need to dump a bunch of money into it. Rent gear from your neigbor to give it a try.</p>
      </div>
    </div>
  </div>

    <div class="col-sm-4">
      <div class="thumbnail">
      <img class="thumb-icon" src="/assets/hank.jpg">
      <div class="caption">
        <h3>Entertain</h3>
        <p>Planning an event, save money by renting that projector from you neighbor for an outdoor movie night.</p>
      </div>
    </div>
  </div>
</div><!-- End Thumbnail Row -->

<div class="steps">
  <h3>Step One</h3>
  <p>Find something that you want to rent from your neighbors. Search for it, set the zipcode you're in and when you're wanting to use it.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div class="steps">
  <h3>Step Two</h3>
  <p>Find something that you want to rent from your neighbors. Search for it, set the zipcode you're in and when you're wanting to use it.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div class="steps">
  <h3>Step Three</h3>
  <p>Find something that you want to rent from your neighbors. Search for it, set the zipcode you're in and when you're wanting to use it.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>




