

<div class="jumbotron">
  <div class="container">
    <div class="homepage-header">
      <h1>Use Your Neighbors </h1>
    </div>
    <div class="mooch-header">
      <h3>What do you want to mooch today?</h3>
    </div>
      <%= form_tag equipment_index_path do %>
      <%= text_field_tag :name, nil, placeholder: "Enter equipment..." %>
      <%= text_field_tag :zip, nil, placeholder: "Zip" %>
      <%= date_field_tag :start_date, nil  %>
      <%= date_field_tag :end_date, nil  %><br>
      <%= submit_tag  "Search" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x300" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Rent Tools</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>

