<div class="content-wrapper">
	<div id="map-canvas">
	</div>
	<div id="right-container">
        <div class="search-results">
            <% if @results %>
                <% @results.each do |r| %>
                    <div class="result">   
                        <%= image_tag r.avatar.url(:thumb), :class => "equip-thumb" %>
                        <h4><%= link_to "#{r.name}", equipment_path(r) %> </h4>
                        <div class="desc"><%= r.description %></div>
                        <h4><%= number_to_currency(r.current_daily_cost) %></h4>
                        <p><%= r.availability %></p>
                    </div>
                <% end %>
            <% end %> 
        </div>
	</div>
</div>


<script>

var zipcode;

<% if !@zip.blank? %>
    zipcode = <%= @zip %>;
<% else %>
    zipcode = 90403;
<% end %>

var markerLocations = <%= raw @locations.to_json %>;

var map;
var mapCenter;
var myLat;
var myLng;
var geo = new google.maps.Geocoder();

google.maps.event.addDomListener(window, 'load', initialize);

function initialize() {

    geo.geocode({'address': zipcode.toString()}, function(results, status) {

        mapCenter = results[0].geometry.location;
        myLat = mapCenter.k;
        myLng = mapCenter.B;

        map = new google.maps.Map(document.getElementById('map-canvas'), {
            zoom: 14,
            center: new google.maps.LatLng(myLat, myLng)
        });

        for(var i = 0; i < markerLocations.length; i++) {
            var myLatlng = new google.maps.LatLng(markerLocations[i].latitude, markerLocations[i].longitude);
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map
            });
        }

    });
}

</script>