


<div class="container">

	<h2>Order History</h2>
	
	<div class="row orders-header">
    <div class="col-md-4 col-sm-4"><h1>Equipment</h1></div>
    <div class="col-md-4 col-sm-4"><h1>Order Details</h1></div>
    <div class="col-md-4 col-sm-4"><h1>Owner</h1></div>
	</div>

	<% @orders.each do |o| %>
	<div class="row">
    <div class="order-hist">
  		<div class="col-md-4 col-sm-4">
    		<% equipment = Equipment.find(o.equipment_id) %>
        <strong><p><%= link_to "#{equipment.name}", equipment_path(equipment) %></p></strong>
        <%= image_tag equipment.avatar.url(:thumb) %>
  	  </div>
      <div class="col-md-4 col-sm-4">
  	    <p><strong>Start date:</strong> <%= o.start_date %></p>
  	    <p><strong>End date:</strong> <%= o.end_date %></p>
  	    <p><strong>Daily rate:</strong> <%= number_to_currency(o.daily_cost) %></p>
  	    <% dayCount = (o.end_date - o.start_date).to_i %>
  	    <p><strong>Number of days:</strong> <%= dayCount %></p>
  	    <p><strong>Total cost:</strong> <%= o.daily_cost * dayCount %></p>
        <%= link_to "View Order", order_path(o) %>
  	  </div>
      <div class="col-md-4 col-sm-4">
    		<% owner = User.find(equipment.user_id) %>
  	    <strong><p><%= owner.first_name.titleize %> <%= owner.last_name.titleize %></p></strong>
        <%= image_tag owner.avatar.url(:thumb) %>
      </div>
    </div>
  </div> <!-- End Row -->
  <% end %>

</div> <!-- End Container -->

<!-- <h1>Reviews</h1> -->



