<div class="container">
	<div class="show-order">
		<div class="row order-show-row">
			<div class="col-md-4">		
				<%= image_tag @equipment.avatar.url(:medium) %>
			</div>

		<div class="col-md-8">
			<div class="order-confirm">
				<h2>Your order has been processed.</h2>
				<h1><%= @equipment.name %></h1>
				<h1>Order Details:</h1>
				<p>Cost per day: <%= number_to_currency(@order.daily_cost) %></br>
					<% dayCount = (@order.end_date - @order.start_date).to_i %>
					Number of days: <%= dayCount %></br></br>
					Your total: <strong><%= number_to_currency(@order.daily_cost * dayCount) %></strong></p>
				  <%= link_to "Order History", orders_path, class: "btn btn-success btn-lg"%>
			</div>

				<% @reviews.each do |r| %>
					<p><%= r.title %></p>
					<p><%= r.comment %></p>
				<% end %>

	      <%= form_tag reviews_path do %>
	    <div class="form-group">
	        <%= text_field_tag :title, nil, placeholder: "Enter a title...", class: "form-control" %></br>
        </div>

	       <div class="form-group">
	        <%= text_area_tag :comment, nil, placeholder: "Review goes here...", class: "form-control"  %></br>
				  <%= hidden_field_tag :order_id, @order.id %>
	        <%= submit_tag  "Post", class: "btn btn-success btn-lg home-submit" %>
	      <% end %>
			</div>
				
		</div>
	</div>
</div>