<!DOCTYPE html>
<html>
<head>
  <title>Moochify</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhRkF2blpTUciRi_tgluc7BpjSuGN19Mc">
  </script>
</head>
<body>

 <div class="main">
    <!-- SHOW STATUS OF LOG IN -->

    <%= link_to 'Moochify home page', home_path %>

    <% if current_user %>

      Welcome, <%=current_user.first_name %>!

      <%= link_to 'Sign Out', logout_path, method: :delete %>

      <%= link_to 'Add equipment', new_equipment_path %>    


      <!-- link_to 'Delete Account', user_path(current_user), {method: :delete, confirm: "Are you really really really sure bud?"} -->

    <% else %>
      <%=link_to 'Log in', login_path %>
      <%=link_to 'Sign Up', signup_path %>
    <% end %>


  </div>




<%= yield %>

</body>
</html>
